<app-navbar></app-navbar>
@if (listadoPreguntas.length > 0) {
<div class="container">
    <!-- Card para generar preguntas -->
    <div class="card my-4">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Configuración</h5>
                <h5 class="mb-0">{{selectedFileName}}</h5>
            </div>
        </div>
        <div class="card-body">
            <form [formGroup]="configuracionesForm" (ngSubmit)="generarPreguntas()">
                <div class="row">
                    <div class="col-6 mb-3">
                        <label class="form-label">Cantidad de preguntas:</label>
                        <input type="number" class="form-control" formControlName="cantidadPreguntas">
                        @if (configuracionesForm.get('cantidadPreguntas')?.touched &&
                        configuracionesForm.get('cantidadPreguntas')?.errors) {
                        <div class="text-danger">
                            El número de preguntas es requerido y debe ser mayor a 0
                        </div>
                        }
                    </div>
                    <div class="col-6 mb-3">
                        <label class="form-label">Unidades:</label>
                        <div class="d-flex gap-3">
                            @for (unidad of unidadesDisponibles; track unidad) {
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" [value]="unidad"
                                    [id]="'flexCheck' + unidad" (change)="onCheckboxChange($event)">
                                <label class="form-check-label" [for]="'flexCheck' + unidad">{{unidad}}</label>
                            </div>
                            }
                        </div>
                        @if (configuracionesForm.get('unidades')?.touched &&
                        configuracionesForm.get('unidades')?.errors) {
                        <div class="text-danger">
                            Debe seleccionar al menos una unidad
                        </div>
                        }
                    </div>
                    <div class="col-6 mb-3">
                        <label class="form-label">Tipo:</label>
                        <select class="form-select" formControlName="tipo">
                            <option value="porUnidad">Dividir preguntas por unidad</option>
                            <option value="aleatorio">100% Aleatorio</option>
                        </select>
                    </div>
                    <div class="col-12">
                        <div class="d-flex justify-content-between align-items-center">
                            <button type="submit" class="btn btn-primary" [disabled]="!configuracionesForm.valid">
                                Generar preguntas
                            </button>
                            <div class="d-flex align-items-center justify mx-0">
                                <!-- Esconde el input file y vincula el boton al input-->
                                <input type="file" #fileInput hidden (change)="onFileChange($event)" />
                                <button type="button" class="btn btn-outline-secondary btn-sm"
                                    (click)="fileInput.click()">
                                    Cambiar preguntero
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Tabla con preguntas -->
    @if (preguntas.length > 0) {
    <table class="table table-striped table-bordered rounded-5">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Pregunta</th>
                <th scope="col">Unidad</th>
            </tr>
        </thead>
        <tbody>
            @for (pregunta of preguntas; track $index) {
            <tr>
                <th scope="row">{{pregunta.nro}}</th>
                <td>{{pregunta.pregunta}}</td>
                <td>{{pregunta.unidad}}</td>
            </tr>
            }
        </tbody>
    </table>
    <div class="d-flex align-items-center justify-content-end mx-0">
        <button type="button" class="btn btn-outline-danger btn-sm" (click)="cleanQuestions()">
            Limpiar
        </button>
    </div>
    }
</div>
}
@else {
<app-select-first-questioner></app-select-first-questioner>
}